/.idea/.gitignore
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/target/classes/resources/sample-mp4-file.mp4
/target/classes/webp/Main.class
/target/classes/webp/Mp4Test.class
/target/classes/webp/VideoAccess.class
/target/classes/webp/VideoThread.class
/target/classes/sample-mp4-file.mp4
videowebp.iml
.idea
/target
/videos/1000000037047_DRM_CLEAR.MP4
.settings
.classpath
.project